/*These stylesheets could be greatly improved by being broken up
into partials based on what they apply to (article, application.html.erb, etc)
but I left them all in the application.scss in order to deomstrate the styles that
I personally added in addition to those supplied by bourbon/neat/bitters */
/* line 1, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_buttons.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
/* line 21, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_buttons.scss */
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #11519a;
  color: #fff;
}
/* line 27, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_buttons.scss */
button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
/* line 31, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_buttons.scss */
button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
  background-color: #1565c0;
}

/* line 1, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_forms.scss */
fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 8, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_forms.scss */
legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0;
}

/* line 14, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_forms.scss */
label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em;
}

/* line 20, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_forms.scss */
input,
select,
textarea {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
}

/* line 28, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_forms.scss */
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%;
}
/* line 40, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_forms.scss */
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
select[multiple]:hover {
  border-color: #b1b1b1;
}
/* line 44, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_forms.scss */
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
select[multiple]:focus {
  border-color: #1565c0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
  outline: none;
}
/* line 50, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_forms.scss */
input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
select[multiple]:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}
/* line 54, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_forms.scss */
input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
select[multiple]:disabled:hover {
  border: 1px solid #ddd;
}

/* line 60, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 64, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_forms.scss */
[type="search"] {
  appearance: none;
}

/* line 68, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_forms.scss */
[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 74, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_forms.scss */
[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

/* line 79, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_forms.scss */
select {
  margin-bottom: 0.75em;
  max-width: 100%;
  width: auto;
}

/* line 1, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_layout.scss */
html {
  box-sizing: border-box;
}

/* line 5, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_layout.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 1, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_lists.scss */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 8, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_lists.scss */
dl {
  margin: 0;
}

/* line 12, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_lists.scss */
dt {
  font-weight: 600;
  margin: 0;
}

/* line 17, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_lists.scss */
dd {
  margin: 0;
}

/* line 1, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_media.scss */
figure {
  margin: 0;
}

/* line 5, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_media.scss */
img,
picture {
  margin: 0;
  max-width: 100%;
}

/* line 1, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 8, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_tables.scss */
th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

/* line 15, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_tables.scss */
td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0;
}

/* line 20, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle;
}

/* line 1, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_typography.scss */
body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

/* line 8, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.333em;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

/* line 20, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 24, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_typography.scss */
a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease;
}
/* line 29, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_typography.scss */
a:active, a:focus, a:hover {
  color: #104c90;
}

/* line 36, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/base/_typography.scss */
hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

/* line 4, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/*copied these from geometric article style below, in order to expand scope outside of <article>*/
/* line 15, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
body {
  margin: 0px;
  padding: 0px;
}

/* line 20, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
nav {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  text-align: right;
  margin-bottom: 20px;
}
/* line 27, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
nav p, nav a {
  margin: 0 10px;
  color: #fff;
  font-family: "Questrial", sans-serif;
  display: inline-block;
}

/*http://thoughtbot.github.io/neat-docs/latest/#outer-container*/
/* line 37, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/bourbon/addons/_clearfix.scss */
.container::after {
  clear: both;
  content: "";
  display: table;
}

/*http://thoughtbot.github.io/neat-docs/latest/#shift*/
/* line 42, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
.shift3 {
  margin-left: 25.58941%;
}

/*http://thoughtbot.github.io/neat-docs/latest/#span-columns*/
/* line 47, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
.span6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
/* line 89, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/neat/grid/_span-columns.scss */
.span6:last-child {
  margin-right: 0;
}

/* line 51, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
#media {
  float: right;
  max-width: 45%;
  margin-left: 5px;
}

/*The following copied directly from http://refills.bourbon.io/type-systems/ */
/* line 60, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
article.type-system-geometric {
  font-family: "Questrial", sans-serif;
  text-align: left;
}
/* line 20, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/bourbon/addons/_clearfix.scss */
article.type-system-geometric::after {
  clear: both;
  content: "";
  display: table;
}
/* line 77, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
article.type-system-geometric h1, article.type-system-geometric h2, article.type-system-geometric h3, article.type-system-geometric p {
  margin: 0;
}
/* line 81, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
article.type-system-geometric hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}
/* line 89, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
article.type-system-geometric p {
  color: #333;
  line-height: 1.5;
}
/* line 94, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
article.type-system-geometric a {
  color: #1565c0;
  text-decoration: none;
}
/* line 99, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
article.type-system-geometric .type {
  border-bottom: 1px solid;
  display: inline-block;
  font-family: "Questrial", sans-serif;
  font-size: 0.7em;
  font-weight: 800;
  margin-bottom: 2em;
  padding: 0.3em 0;
  text-align: left;
  text-transform: uppercase;
}
/* line 111, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
article.type-system-geometric h1 {
  font-family: "Sanchez", serif;
  font-size: 1.8em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
@media screen and (min-width: 600px) {
  /* line 111, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
  article.type-system-geometric h1 {
    font-size: 2.6em;
  }
}
/* line 122, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
article.type-system-geometric h2 {
  font-family: "Sanchez", serif;
  font-size: 1.2em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 1.1em;
}
@media screen and (min-width: 600px) {
  /* line 122, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
  article.type-system-geometric h2 {
    font-size: 1.3em;
  }
}
/* line 135, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
article.type-system-geometric code {
  background: #F7F7F7;
  border-radius: 4.5px;
  border: 1px solid #E0E0E0;
  font-size: 0.7em;
  font-style: normal;
  padding: 0.1em 0.4em;
  white-space: nowrap;
}
/* line 145, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
article.type-system-geometric h3 {
  font-family: "Sanchez", serif;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 0.4em;
}
/* line 153, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
article.type-system-geometric p.date {
  color: rgba(51, 51, 51, 0.4);
  font-family: "Sanchez", serif;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 0.3em;
}
/* line 161, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
article.type-system-geometric p {
  font-family: "Questrial", sans-serif;
  font-size: 1.05em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
/* line 168, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
article.type-system-geometric a.read-more {
  display: inline-block;
  font-family: "Questrial", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  margin-left: 0.2em;
  position: relative;
  text-transform: uppercase;
}
/* line 177, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
article.type-system-geometric a.read-more span {
  font-family: "Questrial", sans-serif;
  font-size: 1.5em;
  font-style: normal;
  position: absolute;
  right: -12px;
  top: -1px;
}
/* line 187, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
article.type-system-geometric hr {
  width: 3em;
}
/* line 191, /home/mary-katherine/Desktop/NasaApodApp/app/assets/stylesheets/application.scss */
article.type-system-geometric p.author {
  font-family: "Questrial", sans-serif;
}
