<!DOCTYPE html>
<html>
<head>
  <title>NASA APOD App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='//fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
</head>

</head>
<body>
	<nav>
		<p><a href="https://twitter.com/marykmckenzie">Twitter</a></p>
		<p><a href="https://github.com/mkmckenzie">GitHub</a></p>
		<p><a href="https://emkaydeum.wordpress.com/2016/04/28/tutorial-build-a-rails-app-using-the-nasa-astronomy-photo-of-the-day-api/">Tutorial</a></p>
	</nav>

<%= yield %>

</body>
</html>
